.favorite {
  padding: 8rem 5rem 5rem 8rem;

  .grid-col-4 {
    grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  .col {
    & img {
      transform: scale(1);
      transition: var(--transition);

      &:hover {
        transform: scale(1.1);
      }
    }

    & p {
      color: var(--text-color);
      text-align: center;
    }
  }
}
